{% extends 'mainapp/base.html' %}

{% block content %}
    <h1>Страница каталога</h1>
    <div class="books-menu">
        <ul>
            {% for item in books %}
                <li>
                    <a href="url 'books_page' item.pk %}">
                        {{ item }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <ul class="books-menu">
                    <li><a href="">Художественная литература</a></li>
                    <li><a href="">Научная литература</a></li>
                    <li><a href="">Психология</a></li>
                    <li><a href="">Романы</a></li>
            </ul>
{% endblock %}