<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title|default:"книги"|capfirst }}</title>
    {% block css %}
        <link rel="stylesheet" href="/static/css/style.css">
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>
<body>
<div class="main-menu">
    <ul>
        <li>
            <a href="{% url 'main:index' %}">Главная</a>
        </li>
        <li>
            <a href="{% url 'main:catalog' %}">Каталог книг</a>
        </li>
        <li>
            <a href="{% url 'basket:index' %}">Корзина</a>
        </li>
        <li>
            {% if user.is_authenticated %}
                <a href="{% url 'auth:logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'auth:login' %}">Войти</a>
            {% endif %}
        </li>
    </ul>
</div>
{% block content %}
{% endblock %}
</body>
</html>